<section
  class='landing-section bg-black h-screen w-screen text-center overflow-hidden relative'
  data-header-color="black"
>
  <div class='z-30 relative h-full flex flex-col'>
    <header class='flex flex-col'>
      <h2 class='text-black pt-[85px] text-[40px] font-medium'>Accesorios</h2>
    </header>

    <footer
      class='flex flex-col flex-grow flex-nowrap justify-end gap-12 pb-7'
    >
      <div class=''>
        <a
          href='#'
          class='bg-white text-gray-800 text-sm font-medium tracking-wide px-16 py-2 border-[3px] border-white rounded-[4px]'
          >Comprar ahora</a
        >
      </div>
      <ul class=" flex justify-center gap-2 [&>li>a]:text-xs [&>li>a]:font-medium [&>li>a]:text-gray-300">
        <li>
          <a href="#">Tesla &copy;  2023</a>
        </li>
        <li>
          <a href="#">Privacidad y legal</a>
        </li>
        <li>
          <a href="#">Llamadas a revisión de vehículos</a>
        </li>
        <li>
          <a href="#">Contacto</a>
        </li>
        <li>
          <a href="#">Noticias</a>
        </li>
        <li>
          <a href="#">Ubicaciones</a>
        </li>
      </ul>
    </footer>
  </div>
  <div class='absolute top-0 bottom-16 h-full w-full z-10 object-bottom'>
    <img
      src='/public/imgs/Homepage-Accessories-Desktop-NA-APAC.avif'
      alt='Home Accesories image-charge'
      class='h-full w-screen max-w-screen object-cover'
    />
    <div class=" absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black to-20% opacity-30"></div>
  </div>
</section>
