---
import Logo from './Logo.astro'
---

<header
  id='landing-header'
  class='py-2 px-12 flex items-center justify-between fixed top-0 w-full z-40 text-white'
>
  <div class='flex flex-grow basis-0'>
    <Logo />
  </div>
  <nav class='hidden lg:flex'>
    <ul
      class='flex text-sm [&>li>a]:inline-block [&>li>a]:transition-colors [&>li>a]:duration-300 [&>li>a]:font-medium [&>li>a]:px-4 [&>li>a]:py-2'
    >
      <li><a href='#'>Vehículos</a></li>
      <li><a href='#'>Energía</a></li>
      <li><a href='#'>Carga</a></li>
      <li><a href='#'>Descubrir</a></li>
      <li><a href='#'>Tienda</a></li>
    </ul>
  </nav>
  <nav class='hidden lg:flex flex-grow basis-0 justify-end'>
    <ul
      class='flex text-sm [&>li>a>span]:inline-block [&>li>a>span]:px-2 [&>li>a>span]:py-2'
    >
      <li>
        <a href='#'>
          <span
            ><svg
              xmlns='http://www.w3.org/2000/svg'
              width='16'
              height='16'
              fill='currentColor'
              class='bi bi-question-circle stroke-2 w-5 h-5'
              viewBox='0 0 16 16'
            >
              <path
                d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'
              ></path>
              <path
                d='M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z'
              ></path>
            </svg></span
          >
        </a>
      </li>
      <li>
        <a href='#'>
          <span
            ><svg
              xmlns='http://www.w3.org/2000/svg'
              width='16'
              height='16'
              fill='currentColor'
              class='bi bi-globe w-5 h-5'
              viewBox='0 0 16 16'
            >
              <path
                d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z'
              ></path>
            </svg></span
          ></a
        >
      </li>
      <li>
        <a href='#'
          ><span
            ><svg
              xmlns='http://www.w3.org/2000/svg'
              width='16'
              height='16'
              fill='currentColor'
              class='bi bi-person-circle w-5 h-5'
              viewBox='0 0 16 16'
            >
              <path d='M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z'></path>
              <path
                fill-rule='evenodd'
                d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z'
              ></path>
            </svg></span
          ></a
        >
      </li>
    </ul>
  </nav>

  <!-- menu backdrop navbar -->
  <div
    id='menu-backdrop'
    class='absolute bg-black/5 backdrop-blur-md rounded left-[var(--left)] top-[(--top)] w-[var(--width)] h-[var(--height)] transition-all duration-500 ease-in-out opacity-0 -z-10'
  >
  </div>

  <!-- navbar button open and close -->
  <button
    class='block lg:hidden absolute right-6 bg-black/5 backdrop-blur-md rounded px-4 py-[6px] text-sm'
    >Menú</button
  >
</header>

<script>
  const listItem = document.querySelectorAll('#landing-header li')
  const menuBackdrop = document.querySelector('#menu-backdrop') as HTMLElement

  listItem.forEach((item) => {
    item.addEventListener('mouseenter', () => {
      const { left, top, width, height } = item.getBoundingClientRect()
      menuBackdrop.style.setProperty('--left', `${left}px`)
      menuBackdrop.style.setProperty('--top', `${top}px`)
      menuBackdrop.style.setProperty('--width', `${width}px`)
      menuBackdrop.style.setProperty('--height', `${height}px`)
      menuBackdrop.style.opacity = '1'
      menuBackdrop.style.visibility = 'visible'
    })
    item.addEventListener('mouseleave', () => {
      menuBackdrop.style.opacity = '0'
      menuBackdrop.style.visibility = 'hidden'
    })
  })
</script>

<script>
  const header = document.querySelector('#landing-header') as HTMLElement

  const observerOptions = {
    root: null, // Defaults to the viewport
    rootMargin: '0px', // En cuanto se ve el elemento
    threshold: 0.9 // Porcentaje de visibilidad del elemento
  }

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const { isIntersecting } = entry

      if (isIntersecting) {
        const color = entry.target.getAttribute('data-header-color')
        header.style.color = color
      }
    })
  }, observerOptions)

  const sections = document.querySelectorAll('.landing-section')
  sections.forEach((section) => observer.observe(section))
</script>
