<section
  class='landing-section bg-black h-screen w-screen text-center overflow-hidden relative'
  data-header-color='black'
>
  <div class='z-30 relative h-full flex flex-col'>
    <header class='flex flex-col px-10 md:px-0'>
      <h2 class='text-black pt-[85px] text-[40px] font-medium'>
        Energía solar y Powerwall
      </h2>
      <p>Totalmente eléctrico</p>
    </header>

    <footer class='flex flex-col flex-grow flex-nowrap justify-end pb-[85px]'>
      <div class=''>
        <a
          href='#'
          class='bg-gray-950 bg-opacity-70 text-white text-sm font-medium tracking-wide px-16 py-2 border-[3px] border-gray-950 border-opacity-0 rounded-[4px]'
          >Más información</a
        >
      </div>
    </footer>
  </div>
  <div class='absolute top-0 bottom-16 h-full w-full z-10 object-bottom'>
    <img
      src='/public/imgs/Desktop_SolarPanels.avif'
      alt='Solar panels and powerwall'
      class='h-full w-screen max-w-screen object-cover'
    />
  </div>
</section>
